<div *ngIf="!loading;else louder" class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-wrapper">
      <div class="form-header">
        <mat-card class="form-header-wrapper">
          <div class="form-header-controls">
            <mat-card class="form-head-wrapp">
              <mat-card-subtitle>Кол-во заявителей:
                {{+form.get('applicant').value}}
              </mat-card-subtitle>
              <mat-form-field appearance="outline" class="header-count">
                <mat-label>Rus</mat-label>
                <input appOnlyNumber formControlName="rusCount" id="rusCount" matInput placeholder="Кол-во..."
                  [errorStateMatcher]="matcher" (input)="count($event)">
              </mat-form-field>
              <mat-form-field appearance="outline" class="header-count">
                <mat-label>Gratis</mat-label>
                <input appOnlyNumber formControlName="gratisCount" id="gratisCount" matInput placeholder="Кол-во..."
                  [errorStateMatcher]="matcher" (input)="count($event)">
              </mat-form-field>
              <mat-form-field appearance="outline" class="header-count">
                <mat-label>FullGratis</mat-label>
                <input appOnlyNumber formControlName="fullGratisCount" id="fullGratisCount" matInput
                  placeholder="Кол-во..." [errorStateMatcher]="matcher" (input)="count($event)">
              </mat-form-field>
              <mat-form-field appearance="outline" class="header-count">
                <mat-label>NonRus</mat-label>
                <input appOnlyNumber formControlName="nonRusCount" id="nonRusCount" matInput placeholder="Кол-во..."
                  [errorStateMatcher]="matcher" (input)="count($event)">
              </mat-form-field>
            </mat-card>

            <mat-form-field hintLabel="Кол-во символов" appearance="outline">
              <mat-label>Номер договора</mat-label>
              <input appOnlyNumber #inputValue formControlName="contract" id="contract" matInput
                placeholder="Номер договора..." [errorStateMatcher]="matcher" (input)="trim($event)">
              <mat-hint align="end">{{inputValue.value.length}}/6</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Выберите турагенство...</mat-label>
              <mat-select formControlName="nameTa" (selectionChange)="selectTa()" [errorStateMatcher]="matcher">
                <mat-option [value]="null">Очистить</mat-option>
                <mat-option *ngFor="let ta of travelAgents" [value]="ta.name.split(' ').join('').trim()">
                  {{ta.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-header-button">
            <div>
              <button *ngIf="!payment" [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Создать
                счет</button>
              <button *ngIf="payment && !payment.approve" [disabled]="form.invalid" type="submit" mat-raised-button
                color="primary">Обновить
                счет</button>
            </div>
            <mat-card>
              <mat-card-subtitle>
                <mat-form-field class="mat-form-field-fox" appearance="outline">
                  <mat-label>Fox</mat-label>
                  <input matInput type="number" class="input-number-fox" formControlName="foxCount">
                </mat-form-field>
                <button mat-icon-button color="primary" type="button" (click)="addFox()">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" type="button" (click)="delFox()">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </mat-card-subtitle>
              <mat-card-content>
                <mat-form-field class="fox-zone-wrapper">
                  <mat-label>Fox-Zone...</mat-label>
                  <mat-select formControlName="foxValue" (selectionChange)="selectFox($event)">
                    <mat-option [value]="null">Очистить</mat-option>
                    <mat-option *ngFor="let fox of foxes" [value]="fox.value">
                      {{fox.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card>

        <mat-card class="form-header-warning">
          <mat-card-subtitle>
            Предупреждения
          </mat-card-subtitle>
          <mat-card-content>
            <span *ngIf="form.get('applicant').hasError('required') || form.get('applicant').hasError('min')">
              <span class="warn">
                <mat-icon class="warning">error</mat-icon> Укажите кол-во заявителей.
              </span>
            </span>
            <span *ngIf="form.get('contract').hasError('minlength') || form.get('contract').hasError('maxlength')">
              <span class="warn">
                <mat-icon class="warning">error</mat-icon> Номер договора введен некорректно.
              </span>
            </span>
            <span *ngIf="form.get('contract').hasError('required')">
              <span class="warn">
                <mat-icon class="warning">error</mat-icon> Введите номер договора.
              </span>

            </span>
            <span *ngIf="form.get('nameTa').hasError('required')">
              <span class="warn">
                <mat-icon class="warning">error</mat-icon> Выберите турагенство.
              </span>
            </span>
            <span *ngIf="form.hasError('applicantBarcodes')">
              <span class="warn">
                <mat-icon class="warning">error</mat-icon> Кол-во заявителей должно совподать с кол-вом RefNumber.
              </span>
            </span>
          </mat-card-content>
        </mat-card>
        <mat-card class="form-header-message" *ngIf="payment && payment.remark">
          <mat-card-subtitle class="message-title">
            Необходимо исправить
          </mat-card-subtitle>
          <mat-card-content>
            <span class="warn">
              <mat-icon class="warning">error</mat-icon> {{payment.message}}
            </span>

          </mat-card-content>
        </mat-card>
      </div>
      <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 ">
          <ng-container matColumnDef="applicant">
            <th mat-header-cell *matHeaderCellDef> Заяв. </th>
            <td mat-cell *matCellDef="let element">{{element.applicant}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="count" class="count-ap">
            <th mat-header-cell *matHeaderCellDef> = </th>
            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
            <td mat-footer-cell *matFooterCellDef>
              <span [ngClass]="{warns:form.hasError('applicantBarcodes')}">
                {{+form.get('applicant').value}}
              </span>
              <span *ngIf="!form.hasError('applicantBarcodes')"> = </span>
              <span class="warns" *ngIf="form.hasError('applicantBarcodes')"> ≠ </span>
              <span [ngClass]="{warns:form.hasError('applicantBarcodes')}">
                {{+form.get('refCount').value}}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="fee">
            <th mat-header-cell *matHeaderCellDef> Сбор </th>
            <td mat-cell *matCellDef="let element">{{element.cost * element.count}}</td>
            <td mat-footer-cell *matFooterCellDef>
              {{(+form.get('rusCount').value * (priceValue.rus + priceValue.service)) + (+form.get('gratisCount').value * priceValue.service) + (+form.get('fullGratisCount').value * 0) + (+form.get('nonRusCount').value * (priceValue.nonRus+ priceValue.service))}}
            </td>
          </ng-container>
          <ng-container matColumnDef="foxService" *ngIf="form.value.foxValue">
            <th mat-header-cell *matHeaderCellDef> Сбор Fox ({{form.value.foxCount}}шт.)</th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>
              <span *ngFor="let foxService of price.foxServices">
                <span *ngIf="foxService.value =='foxService'">
                  {{foxService.cost * form.value.foxCount}}
                </span>
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="foxCost" *ngIf="form.value.foxValue">
            <th mat-header-cell *matHeaderCellDef>{{selectedIdxFox.name}} ({{form.value.foxCount}}шт.)</th>
            <td mat-cell *matCellDef="let element"> </td>
            <td mat-footer-cell *matFooterCellDef>{{selectedIdxFox.cost * form.value.foxCount}}</td>
          </ng-container>
          <ng-container matColumnDef="pers">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="input-number-wrapper" appearance="outline">
                <mat-label>Перс</mat-label>
                <input matInput type="number" class="input-number" formControlName="pers">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef> {{+form.get('pers').value * priceValue.pers}} </td>
          </ng-container>
          <ng-container matColumnDef="vip">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="input-number-wrapper" appearance="outline">
                <mat-label> VIP </mat-label>
                <input matInput type="number" class="input-number" formControlName="vip">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>{{+form.get('vip').value * priceValue.vip}} </td>
          </ng-container>
          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="input-number-wrapper" appearance="outline">
                <mat-label> Фото </mat-label>
                <input matInput type="number" class="input-number" formControlName="photo">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> </td>
            <td mat-footer-cell *matFooterCellDef>{{+form.get('photo').value * priceValue.photo}} </td>
          </ng-container>
          <ng-container matColumnDef="form">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="input-number-wrapper" appearance="outline">
                <mat-label> Анк </mat-label>
                <input matInput type="number" class="input-number" formControlName="form">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef>{{+form.get('form').value * priceValue.form}}</td>
          </ng-container>
          <ng-container matColumnDef="sms">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="input-number-wrapper" appearance="outline">
                <mat-label> SMS </mat-label>
                <input matInput type="number" class="input-number" formControlName="sms">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> </td>
            <td mat-footer-cell *matFooterCellDef>{{+form.get('sms').value * priceValue.sms}}</td>
          </ng-container>
          <ng-container matColumnDef="copy">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="input-number-wrapper" appearance="outline">
                <mat-label> Коп. </mat-label>
                <input matInput type="number" class="input-number" formControlName="copy">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> </td>
            <td mat-footer-cell *matFooterCellDef>
              <span *ngIf="+form.get('copy').value <= 10">{{+form.get('copy').value * priceValue.copy}}</span>
              <span *ngIf="+form.get('copy').value > 10">{{+form.get('copy').value * priceValue.copy10}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="ppb">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="input-number-wrapper" appearance="outline">
                <mat-label> PPB . </mat-label>
                <input matInput type="number" class="input-number" formControlName="ppb">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> </td>
            <td mat-footer-cell *matFooterCellDef>{{+form.get('ppb').value  * priceValue.ppb}}</td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Итого: </th>
            <td mat-cell *matCellDef="let element"> </td>
            <td mat-footer-cell *matFooterCellDef>
              <span *ngIf="form.get('copy').value <= 10">
                {{
                  (
                  (+form.get('rusCount').value * (priceValue.rus + priceValue.service)) +
                  (+form.get('gratisCount').value * priceValue.service)+
                  (+form.get('fullGratisCount').value * 0) +
                  (+form.get('nonRusCount').value * (priceValue.nonRus + priceValue.service))
                  ) +
                  (+form.get('ppb').value * priceValue.ppb) +
                  (+form.get('form').value * priceValue.form) +
                  (+form.get('photo').value * priceValue.photo) +
                  (+form.get('sms').value * priceValue.sms) +
                  (+form.get('vip').value * priceValue.vip) +
                  (+form.get('pers').value * priceValue.pers) +
                  (+form.get('copy').value * priceValue.copy)+
                  (+form.get('foxCount').value * (priceValue[form.get('foxValue').value] || 0))+
                  getTotal()
                }}
              </span>
              <span *ngIf="form.get('copy').value > 10">
                {{
                  (
                  (+form.get('rusCount').value * (priceValue.rus + priceValue.service)) +
                  (+form.get('gratisCount').value * priceValue.service)+
                  (+form.get('fullGratisCount').value * 0)+
                  (+form.get('nonRusCount').value * (priceValue.nonRus + priceValue.service))
                  ) +
                  (+form.get('ppb').value * priceValue.ppb) +
                  (+form.get('form').value * priceValue.form) +
                  (+form.get('photo').value * priceValue.photo) +
                  (+form.get('sms').value * priceValue.sms) +
                  (+form.get('vip').value * priceValue.vip) +
                  (+form.get('pers').value * priceValue.pers) +
                  (+form.get('copy').value * priceValue.copy10)+
                  (+form.get('foxCount').value * (priceValue[form.get('foxValue').value] || 0))+
                  getTotal()
                }}
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
      </div>
      <div class="ref-num-wrapper">
        <div class="ref-num-container">
          <mat-card class="ref-num-pay">
            <mat-card-subtitle>
              <div>
                <span>Номера Ref для создания счета</span>
              </div>
            </mat-card-subtitle>
            <div *ngIf="!loadingRefStatus;else louderRefStatus">
              <mat-list formGroupName="refNumbers">
                <mat-list-item *ngFor="let refNumber of form.get('refNumbers').value">
                  <div class="title-ref-wrap">
                    <div class="ref-wrapper">
                      <div class="name-ta">
                        {{refNumber.nameTa}}
                      </div>
                      <div>
                        RUS
                      </div>
                      <div>
                        /
                      </div>
                      <div>
                        {{refNumber.date|date:'ddMMyy'}}
                      </div>
                      <div>
                        /
                      </div>
                      <div>
                        {{refNumber.number}}
                      </div>
                      <div>
                        ×
                      </div>
                      <div>
                        {{refNumber.count}}
                      </div>
                    </div>
                    <button mat-icon-button type="button" *ngIf="payment && !payment.approve && refNumber.created"
                      (click)="removeRef(refNumber._id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <ng-template #louderRefStatus>
              <app-louder-mini></app-louder-mini>
            </ng-template>
          </mat-card>
          <mat-card *ngIf="!form.disabled">
            <mat-card-subtitle class="mat-card-subtitle-ref">
              <span>
                Список Ref номеров
              </span>
              <button mat-icon-button color="primary" type="button" aria-label="Example icon-button with a heart icon"
                (click)="openDialog()">
                <mat-icon>add_box</mat-icon>
              </button>
            </mat-card-subtitle>

            <mat-selection-list *ngIf="!loadingRef; else louderRef" (selectionChange)="select($event)">
              <mat-list-option *ngFor="let refNumber of refNumbers" [value]="refNumber">
                <div class="ref-wrapper">
                  <div class="name-ta">
                    {{refNumber.nameTa}}
                  </div>
                  <div>
                    RUS
                  </div>
                  <div>
                    /
                  </div>
                  <div>
                    {{refNumber.date|date:'ddMMyy'}}
                  </div>
                  <div>
                    /
                  </div>
                  <div>
                    {{refNumber.number}}
                  </div>
                  <div>
                    ×
                  </div>
                  <div>
                    {{refNumber.count}}
                  </div>
                </div>
              </mat-list-option>

            </mat-selection-list>
            <ng-template #louderRef>
              <app-louder-mini></app-louder-mini>
            </ng-template>

          </mat-card>
        </div>
        <div>
          <app-list-of-services [price]="price" [formTa]="form.value"></app-list-of-services>
        </div>
      </div>
    </div>
  </form>
</div>
<ng-template #louder>
  <app-louder></app-louder>
</ng-template>
