.container {
  padding: 20px;
}
.mat-list-item {
  background-color: #f5f5f5 ;
}
.payment-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contract{
  margin-right: 1rem;
}
.status {
  display: flex;
  align-items: center;
}
.remark {
  background-color: #ffcdd2;
  margin-left: 1rem;
  border-radius: 3px;
  padding: 6px;
}
.correction {
  background-color: #c8e6c9;
  margin-left: 1rem;
  border-radius: 3px;
  padding: 6px;
}
.approve {
  background-color: #81c784;
  width: 22px;
  height: 22px;
  margin-left: 1rem;
  border-radius: 50%;
}
.unapprove {
  background-color: #ef5350;
  width: 22px;
  height: 22px;
  margin-left: 1rem;
  border-radius: 50%;
}
