.ref-num-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
:host ::ng-deep .mat-input-ref {
  padding: 0;
  width: 100px;
}

:host ::ng-deep .mat-input-ref .mat-form-field-wrapper {
  padding-bottom: 0;
}
:host ::ng-deep .mat-input-ref-count {
  width: 70px;
}


/* ::ng-deep .myClass .mat-dialog-container {
  background-color: #fafafa;
} */
