.warn {
  color: #f44336;
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}
.warns {
  color: #f44336;
}
.warning {
  padding-right: 0.5rem;
}
.ember {
  color: #ffa000;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}
.container {
  padding: 20px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
}
.form-header {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: flex-start;
}
.form-header-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
.form-header-controls {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
.form-header-message {
  margin-left: 1.5rem;
}
.message-title {
  color: #f44336;
}
.form-barcodes {
  display: flex;
  margin-bottom: 1.5rem;

  align-items: flex-start;
  max-width: 915px;
}
.barcode-wrap {
  width: 140px;
  margin-right: 1rem;
}
:host ::ng-deep .mat-form-field-infix {
  width: 120px;
}
.input-number-fox::-webkit-inner-spin-button {
  display: none;
}
.input-number-fox::-webkit-outer-spin-button {
  display: none;
}
:host ::ng-deep .mat-form-field-fox .mat-form-field-wrapper {
  padding: 0;
  width: 50px;
}
:host
  ::ng-deep
  .mat-form-field-fox
  .mat-form-field-wrapper
  .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0;
  border-top: 0.3em solid transparent;
}
.input-number::-webkit-inner-spin-button {
  display: none;
}
.input-number::-webkit-outer-spin-button {
  display: none;
}
:host ::ng-deep .input-number-wrapper .mat-form-field-wrapper {
  padding: 0;
  width: 50px;
}
.table-wrapper {
  max-width: 800px;
  margin-bottom: 1.5rem;
}
.mat-table {
  border-radius: 6px;
}
tr.mat-row,
tr.mat-footer-row {
  height: 35px;
}
.mat-column-count {
  text-align: center;
  padding-right: 10px;
  white-space: nowrap;
}
th.mat-header-cell {
  padding-right: 10px;
  text-align: center;
}
th.mat-header-cell {
  padding-right: 10px;
  text-align: center;
}
.mat-cell {
  text-align: center;
}
td.mat-column-applicant {
  padding-right: 10px;
}
td.mat-column-fee {
  padding-right: 10px;
}
td.mat-column-pers {
  padding-right: 10px;
}
td.mat-column-vip {
  padding-right: 10px;
}
td.mat-column-photo {
  padding-right: 10px;
}
td.mat-column-form {
  padding-right: 10px;
}
td.mat-column-sms {
  padding-right: 10px;
}
td.mat-column-ppb {
  padding-right: 10px;
}
