<div class="component-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Войти в систему</mat-card-title>
      <mat-card-subtitle>Введите данные</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Логин</mat-label>
          <input matInput placeholder="Введите логин" formControlName="login">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Пароль</mat-label>
          <input matInput placeholder="Введите пароль" formControlName="password">
        </mat-form-field>
        <button [disabled]="form.invalid||form.disabled" type="submit" mat-raised-button color="primary">Войти</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
